body {
  margin-left: 0;
}
.app {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  margin-left: 0;
}
.input{
  margin-left: 10px;
  height: 30px;
  margin-bottom: 15px;
}
.input input {
  height: 100%;
  width: calc(100% - 13px);
  padding-left: 10px;
  cursor: pointer;
  font-size: 20px;
}
.flats-list {
  display: flex;
  flex-wrap: wrap;
}
.map {
  flex: 1;
  margin-left: 10px;
  top: 0;
  height: 100vh;
  position: sticky;
}

@media(max-width: 800px) {
  .map{
    display: none;
  }
  .main {
    flex: 1;
  }
}
